<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1 id="pagetitle">Bookings</h1>
    <!-- Header & Footer -->
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../rooms">Rooms</a>
            <a href="../customers">Customers</a>
            <a href="../bookings">Bookings</a>
            <a href="../services">Services</a>
        </nav>
    </header>

    <footer>
        <p>CSCI 3230U - Winter 2024</p>
    </footer>

    <form th:action="@{/processAddBooking}" method="post" th:object="${booking}">
    	<input type="text" name="name" placeholder="Customer Name">
        <input type="text" name="type" placeholder="Room Type">
        <input type="text" name="service" placeholder="Requested Services">
        <input type="date" name="startDate" placeholder="Start Date">
        <input type="date" name="endDate" placeholder="End Date">
        <button type="submit">Add Booking</button>
    </form>
    
    <!-- Display the list of bookings -->
    <div th:if="${bookings}">
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.getCustomer().getName()}"></td>
                    <td th:text="${booking.getRoom().getType()}"></td>
                    <td th:text="${booking.startDate}"></td>
                    <td th:text="${booking.endDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
