<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1 id="pagetitle">Customers</h1>
    <!-- Header & Footer -->
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../rooms">Rooms</a>
            <a href="../customers">Customers</a>
            <a href="../bookings">Bookings</a>
            <a href="../services">Services</a>
        </nav>
    </header>

    <footer>
        <p>CSCI 3230U - Winter 2024</p>
    </footer>
	
    <form th:action="@{/processAddCustomer}" method="post" th:object="${customer}">
        <input type="text" name="name" placeholder="Name">
        <input type="tel" name="phoneNumber" placeholder = "Ex: 647-123-4567" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <input type="email" name="email" placeholder="Ex: john.smith@gmail.com">
        <button type="submit">Add Customer</button>
    </form>
    
    <!-- Display the list of customers -->
    <div th:if="${customers}">
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
