<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Customers</h1>
    
<!--  
    <ul>
        <li th:each="customer : ${customers}">
            <span th:text="${customer.name}"></span>
            <span th:text="${customer.email}"></span>
        </li>
    </ul>
-->
	
    <form th:action="@{/processAddCustomer}" method="post" th:object="${customer}">
        <input type="text" name="name"  th:field="*{name}" placeholder="Name">
        <input type="tel" name="phoneNumber" th:field="*{phoneNumber}" placeholder = "Ex: 647-123-4567" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <input type="email" name="email" th:field="*{email}" placeholder="Ex: john.smith@gmail.com">
        <button type="submit">Add Customer</button>
    </form>

<!--  
    <a th:href="@{/addRoom}">View Rooms</a>
    <a href="@{/addService}">View Services</a>
    <a th:href="@{/addBooking}">View Bookings</a>
-->

</body>
</html>
