<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1 id="pagetitle">Rooms</h1>
    <!-- Header & Footer -->
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../rooms">Rooms</a>
            <a href="../customers">Customers</a>
            <a href="../bookings">Bookings</a>
            <a href="../services">Services</a>
        </nav>
    </header>

    <footer>
        <p>CSCI 3230U - Winter 2024</p>
    </footer>
  
    <form th:action="@{/processAddRoom}" method="post" th:object="${room}">
        <input type="text" name="roomNumber" placeholder="Room Number">
        <input type="number" min="0.00" step="0.01" name="price" placeholder="$299.99">
		<input type="text" name="type" placeholder="Room Type">
        <button type="submit">Add Room</button>
    </form>

    <!-- Display the list of rooms -->
    <div th:if="${rooms}">
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Price</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.roomNumber}"></td>
                    <td th:text="${room.price}"></td>
                    <td th:text="${room.type}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
