<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1 id="pagetitle">Services</h1>
    <!-- Header & Footer -->
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../rooms">Rooms</a>
            <a href="../customers">Customers</a>
            <a href="../bookings">Bookings</a>
            <a href="../services">Services</a>
        </nav>
    </header>

    <footer>
        <p>CSCI 3230U - Winter 2024</p>
    </footer>

    <form th:action="@{/processAddService}" method="post" th:object="${service}">
        <input type="text" name="name" placeholder="Service Name">
        <input type="text" name="description" placeholder="Service Description">
        <input type="number" min="0.00" step="0.01" name="price" placeholder="Price">
        <button type="submit">Add Service</button>
    </form>
    
    <!-- Display the list of services -->
    <div th:if="${services}">
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="service : ${services}">
                    <td th:text="${service.name}"></td>
                    <td th:text="${service.description}"></td>
                    <td th:text="${service.price}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
