<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Services</h1>
    
<!--
    <ul>
        <li th:each="service : ${services}">
            <span th:text="${service.name}"></span>
            <span th:text="${service.price}"></span>
        </li>
    </ul>
-->

    <form th:action="@{/submitServices}" method="get">
    <ul>
        <li th:each="service : ${services}">
            <input type="checkbox" th:id="'service_' + ${service.providedServiceId}" th:name="'selectedServices'" th:value="${service.providedServiceId}"/>
            <label th:for="'service_' + ${service.providedServiceId}">
                <span th:text="${service.name}"></span>
                <span th:text="${service.description}"></span>
                <span th:text="${service.price}"></span>
            </label>
        </li>
    </ul>
    <button type="submit">Submit</button>
	</form>
    
<!--
    <a href="/customers">View Customers</a>
    <a href="/rooms">View Rooms</a>
    <a href="/bookings">View Bookings</a>
-->
</body>
</html>
