<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Services</h1>
    
<!--
    <ul>
        <li th:each="service : ${services}">
            <span th:text="${service.name}"></span>
            <span th:text="${service.price}"></span>
        </li>
    </ul>
-->

    <form th:action="@{/processAddService}" method="post" th:object="${service}">
        <input type="text" name="name" th:field="*{name}" placeholder="Service Name">
        <input type="text" name="description" th:field="*{description}" placeholder="Service Description">
        <input type="number" min="0.00" step="0.01" name="price" th:field="*{price}" placeholder="Price">
        <button type="submit">Add Service</button>
    </form>
    <a href="/customers">View Customers</a>
    <a href="/rooms">View Rooms</a>
    <a href="/bookings">View Bookings</a>
</body>
</html>
